{% extends "base.html.twig" %}

{% block content %}
  

   <main id="main" class="section">
       
            <div class="hero-conteneur">
                <div class="hero-image">
                    <div id="logo">
                        <a href="#" class="jap">
                            <span>美</span>
                            <span>術</span>
                        </a>

                        <a href="#" class="log-fr">
                            <span>M</span>
                            <span>I</span>
                            <span>N</span>
                            <span>K</span>
                            <span>E</span>
                            <span>D</span>
                        </a>
                    </div>
                </div>
            </div>
        
    </main>

    {# {{ content.article|raw }} #}
{% endblock %}
