{% extends "base.html.twig" %}

{% block content %}


	<section id="legal-page">

		<div class="inside inside-legal">

			<div class="section-edition">

				<h1>{{ content.title }}</h1>

				<h2 class="title-legal">Edition du site</h2>
				<p>Le présent site, accessible à l’URL
					<a href="/">www.minkedart.fr</a>
					(le « Site »), est édité par :</p>
				<ul>
					<li class="info-nom">Nom : Mickael De la coline</li>
					<li class="info-adresse">Adresse : 69006</li>
					<li class="info-nationalite">Nationalité : Française (France)</li>
					<li class="info-date-naissance">Date de naissance : 15/09/1992</li>
				</ul>
			</div>
			<div class="section-hebergement">
				<h2 class="title-legal">Hébergement</h2>
				<p>Le Site est hébergé par la société OVH SAS, situé au 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1.</p>
				<p class="contact-ovh">Contact téléphonique ou email : 1007</p>
			</div>
			<div class="section-directeur">
				<h2 class="title-legal">Directeur de publication</h2>
				<p>Le Directeur de la publication du Site est Mickael De la coline.</p>
			</div>
			<div class="section-contact">
				<h2 class="title-legal">Nous contacter</h2>
				<ul>
					<li class="contact-telephone">Par téléphone : +33668589886</li>
					<li class="contact-email">Par email :
						<a href="mailto:minkedart@gmail.com">minkedart@gmail.com</a>
					</li>
					<li class="contact-courrier">Par courrier : 20 Bd Eugène Deruelle, 69003 Lyon</li>
				</ul>
			</div>
			<div class="section-donnees">
				<h2 class="title-legal">Données personnelles</h2>
				<p>Le traitement de vos données à caractère personnel est régi par notre Charte
																								             du respect de la vie privée, disponible depuis la section "Charte de Protection
																								              des Données Personnelles", conformément au Règlement Général sur la Protection
																								               des Données 2016/679 du 27 avril 2016 («RGPD»).</p>
			</div>

			<div class="section-intelectuel">
				<h2 class="title-legal">Propriété Intellectuelle</h2>
				<p>Tous les contenus présents sur ce Site, y compris, mais sans s'y limiter, les textes,
				 les images, les graphiques, les logos, les icônes, les fichiers audio et vidéo, sont la 
				 propriété exclusive de Mickael Del cerro, sauf indication contraire. Ils sont protégés 
				 par les lois françaises et internationales sur la propriété intellectuelle.
				Sauf autorisation expresse, il est interdit de copier, reproduire, distribuer, 
				publier, afficher, modifier, créer des œuvres dérivées, télécharger ou transmettre tout
				ou partie de ces contenus, sous quelque forme que ce soit, électronique, mécanique, photocopie, 
				enregistrement, ou autre, sans l'autorisation préalable écrite de Mickael Del cerro.
				Toute violation de ces droits de propriété intellectuelle peut entraîner des poursuites
				 judiciaires conformément à la législation en vigueur.				
				Pour toute demande d'autorisation ou pour signaler une utilisation non autorisée de tout
				ou partie de ce Site, veuillez nous contacter à l'adresse suivante : minkedart@gmail.com.

				</p>
			</div>


			<div class="footer-legal">
				<p>Génération des mentions légales par
					<a href="">Legalstart</a>
					.</p>
			</div>
		</div>
	</section>


	{{ content.article|raw }}
{% endblock %}

