#main {



    .hero-conteneur {
        overflow: hidden;
    }

    .jap {
        color: #ccb9f6;
        font-size: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* transform: translateX(250%); */
        justify-content: center;
        font-family: 'Rampart One';

        // letter-spacing: 10px;
    }

    .log-fr {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        font-size: 80px;
        color: rgb(219, 219, 219);
        margin-top: 25px;
        text-shadow: 7px -2px 7px #3d105b;
        /* letter-spacing: 15px; */
        font-family: 'Anton';
    }


    .hero-image {
        background-image: url(/public/img/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        /* max-width: 1400px; */
        width: 100%;
        height: 100vh;
    }

    .hero-image {
        -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px 34px 11px 17px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, -50px 34px 11px 17px rgba(0, 0, 0, 0);
    }

    /* ---------------------------------------------------------------------------------- */
    /* ---------------------------------------------------------------------------------- */
    /* ---------------------------------------Animation---------------------------------- */
    /* ---------------------------------------Logo--------------------------------------- */


    .log-fr span {
        opacity: 0;
        display: inline-block;
        animation: animate 1s linear forwards;
        -webkit-animation: animate 1s linear forwards;
    }

    .jap span {
        opacity: 0;
        display: inline-block;
        animation: animate 1s linear forwards;
        -webkit-animation: animate 1s linear forwards;
    }


    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotateY(90deg);
            filter: blur(10px);
        }

        100% {
            opacity: 1;
            transform: rotateY(0deg);
            filter: blur(0px);

        }
    }

    .log-fr span:nth-child(1) {
        animation-delay: 1s;
    }

    .log-fr span:nth-child(2) {
        animation-delay: 2s;
    }

    .log-fr span:nth-child(3) {
        animation-delay: 3s;
    }




    .log-fr span:nth-child(4) {
        animation-delay: 3.5s;
    }

    .log-fr span:nth-child(5) {
        animation-delay: 4s;
    }






    .log-fr span:nth-child(6) {
        animation-delay: 4.5s;
    }

    .jap span:nth-child(7) {
        animation-delay: 5S;
    }

    .jap span:nth-child(8) {
        animation-delay: 5.5s;
    }

}


@media screen and (max-width: 900px) {

    .log-fr{
        display: flex;
    }
}